<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/global.css" />
    <link rel="stylesheet" href="/index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Koh Santepheap:wght@900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="webpage">
      <div class="invbrectangle">
        <div class="sweater-frame-label">
          <h1 class="sheffanessea">SHEFFANESSEA</h1>
        </div>
        <div class="transforming-into-the-container">
          <span class="transforming-into-the-container1">
            <p class="transforming">TRANSFORMING</p>
            <p class="into-the-best">INTO THE BEST</p>
            <p class="version-of-oneself">VERSION OF ONESELF</p>
          </span>
        </div>
      </div>
      <section class="sweaters">
        <div class="content-image-frame">
          <div class="title-bar"></div>
          <h1 class="sweaters1">Sweaters</h1>
        </div>
        <div class="sweaters-group">
          <div class="f-r-a-m-e">
            <div class="sweaters-frame-set">
              <div class="sweaters-frame-set-parent">
                <div class="sweaters-frame-set1">
                  <div class="content-image-frame1">
                    <div class="content-image-frame-child"></div>
                    <img
                      class="content-image-icon"
                      loading="lazy"
                      
                      src="/sendimage/content-image@2x.png"
                    />
                  </div>
                  <div class="a-d-d-t-o-b-a-g-f-r-a-m-e">
                    <div class="a-d-d-t-o-b-a-g-f-r-a-m-e-child"></div>
                    <div class="add-to-bag">ADD TO BAG</div>
                  </div>
                </div>
                <div class="oz-u-s-acottonpolyester-heathe">
                  <div class="oz-u-s-acottonpolyester-heathe-child"></div>
                  <img
                    class="content-image-icon1"
                    loading="lazy"
                    
                    src="/sendimage/content-image-1@2x.png"
                  />
                </div>
              </div>
              <div class="empty-frame">
                <div class="header-frame">
                  <div class="transforming-into-best-version">
                    <div class="shopping-cart-frame">
                      <div class="cart-frame">
                        <div class="invico-frameinvb-frame">
                          <div class="invico-frameinvb-frame-child"></div>
                          <img
                            class="content-image-icon2"
                            loading="lazy"
                            
                            src="/sendimage/content-image-2@2x.png"
                          />
                        </div>
                        <div class="add-to-bag-frame">
                          <div class="add-to-bag-frame-child"></div>
                          <div class="add-to-bag1">ADD TO BAG</div>
                        </div>
                      </div>
                      <div class="rectangle-parent">
                        <div class="frame-child"></div>
                        <img
                          class="content-image-icon3"
                          loading="lazy"
                          
                          src="/sendimage/content-image-3@2x.png"
                        />
                      </div>
                    </div>
                    <div class="webpage-frame">
                      <div class="a-d-d-t-o-b-a-g">
                        <div class="oz-u-s-a-cotton-polyester-heat-parent">
                          <div class="oz-u-s-a-cotton-polyester-heat">
                            <div
                              class="oz-u-s-a-cotton-polyester-heat-child"
                            ></div>
                            <img
                              class="content-image-icon4"
                              loading="lazy"
                              
                              src="/sendimage/content-image-4@2x.png"
                            />
                          </div>
                          <div class="add-to-bag2">
                            <div class="add-to-bag-child"></div>
                            <div class="add-to-bag3">ADD TO BAG</div>
                          </div>
                        </div>
                        <div class="rectangle-group">
                          <div class="frame-item"></div>
                          <img
                            class="content-image-icon5"
                            loading="lazy"
                            
                            src="/sendimage/content-image-5@2x.png"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="t-r-a-n-s-f-o-r-m-i-n-g-i-n-t">
                  <div class="t-r-a-n-s-f-o-r-m-i-n-g-i-n-t-child"></div>
                  <h2 class="oz-50-usa-container">
                    <ul class="oz-50-usa-cotton-50-polyes">
                      <li class="oz-50-usa">
                        8 oz, 50% USA cotton, 50% polyester.
                      </li>
                      <li class="heather-sport-color">
                        Heather Sport color: 40% cotton, 60% polyester.
                      </li>
                      <li class="made-with-50">
                        Made with 50% sustainably and fairly grown USA cotton.
                      </li>
                      <li class="double-needle-stitching-throug">
                        Double-needle stitching throughout
                      </li>
                      <li class="double-lined-hood">Double-lined hood</li>
                      <li class="pouch-pocket">Pouch pocket</li>
                      <li class="matching-draw-cord">Matching draw cord</li>
                      <li class="x1-ribbed-cuffs">
                        1x1 ribbed cuffs and waistband with spandex.
                      </li>
                      <li class="safety-orange-is">
                        Safety Orange is compliant with ANSI-ISEA 107 High
                      </li>
                    </ul>
                    <p class="visibility-standards">Visibility Standards</p>
                  </h2>
                </div>
              </div>
            </div>
            <div class="addtobagframes">
              <div class="frameaddtobag-parent">
                <div class="frameaddtobag">
                  <div class="frameaddtobag-child"></div>
                  <div class="add-to-bag4">ADD TO BAG</div>
                </div>
                <div class="shoppingcartframe">
                  <div class="shoppingcartframe-child"></div>
                  <div class="add-to-bag5">ADD TO BAG</div>
                </div>
                <div class="framesaddtobag">
                  <div class="framesaddtobag-child"></div>
                  <div class="add-to-bag6">ADD TO BAG</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="sweat-pants">
        <div class="title-bar-parent">
          <div class="title-bar1"></div>
          <h1 class="sweat-pants1">Sweat Pants</h1>
        </div>
        <div class="sweat-pants-inner">
          <div class="frame-parent">
            <div class="frame-group">
              <div class="frame-container">
                <div class="frame-div">
                  <div class="rectangle-container">
                    <div class="frame-inner"></div>
                    <img
                      class="content-image-icon6"
                      loading="lazy"
                      
                      src="/sendimage/content-image-6@2x.png"
                    />
                  </div>
                  <div class="rectangle-parent1">
                    <div class="rectangle-div"></div>
                    <div class="add-to-bag7">ADD TO BAG</div>
                  </div>
                </div>
                <div class="rectangle-parent2">
                  <div class="frame-child1"></div>
                  <img
                    class="content-image-icon7"
                    loading="lazy"
                    
                    src="/sendimage/content-image-7@2x.png"
                  />
                </div>
              </div>
              <div class="frame-parent1">
                <div class="frame-parent2">
                  <div class="frame-parent3">
                    <div class="rectangle-parent3">
                      <div class="frame-child2"></div>
                      <img
                        class="content-image-icon8"
                        loading="lazy"
                        
                        src="/sendimage/content-image-8@2x.png"
                      />
                    </div>
                    <div class="rectangle-parent4">
                      <div class="frame-child3"></div>
                      <div class="add-to-bag8">ADD TO BAG</div>
                    </div>
                  </div>
                  <div class="rectangle-parent5">
                    <div class="frame-child4"></div>
                    <img
                      class="content-image-icon9"
                      loading="lazy"
                      
                      src="/sendimage/content-image-9@2x.png"
                    />
                  </div>
                </div>
                <div class="frame-parent4">
                  <div class="shopping-parent">
                    <div class="shopping">
                      <div class="shopping-child"></div>
                      <img
                        class="content-image-icon10"
                        loading="lazy"
                        
                        src="/sendimage/content-image-10@2x.png"
                      />
                    </div>
                    <div class="contentimage">
                      <div class="contentimage-child"></div>
                      <div class="add-to-bag9">ADD TO BAG</div>
                    </div>
                  </div>
                  <div class="ozusacottonpolyesterframe">
                    <div class="ozusacottonpolyesterframe-child"></div>
                    <img
                      class="content-image-icon11"
                      loading="lazy"
                      
                      src="/sendimage/content-image-11@2x.png"
                    />
                  </div>
                </div>
                <div class="frameheathersweater">
                  <div class="framecontentimage">
                    <div class="framecontentimage-child"></div>
                    <h2 class="oz-50-usa-container1">
                      <ul class="oz-50-usa-cotton-50-polyes1">
                        <li class="oz-50-usa1">
                          8 oz, 50% USA cotton, 50% polyester.
                        </li>
                        <li class="heather-sport-color1">
                          Heather Sport color: 40% cotton, 60% polyester.
                        </li>
                        <li class="made-with-501">
                          Made with 50% sustainably and fairly grown USA cotton.
                        </li>
                        <li class="double-needle-stitching-throug1">
                          Double-needle stitching throughout
                        </li>
                        <li class="double-lined-hood1">Double-lined hood</li>
                        <li class="pouch-pocket1">Pouch pocket</li>
                        <li class="matching-draw-cord1">Matching draw cord</li>
                        <li class="x1-ribbed-cuffs1">
                          1x1 ribbed cuffs and waistband with spandex.
                        </li>
                        <li class="safety-orange-is1">
                          Safety Orange is compliant with ANSI-ISEA 107 High
                        </li>
                      </ul>
                      <p class="visibility-standards1">Visibility Standards</p>
                    </h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="frame-wrapper">
              <div class="frame-parent5">
                <div class="rectangle-parent6">
                  <div class="frame-child5"></div>
                  <div class="add-to-bag10">ADD TO BAG</div>
                </div>
                <div class="rectangle-parent7">
                  <div class="frame-child6"></div>
                  <div class="add-to-bag11">ADD TO BAG</div>
                </div>
                <div class="rectangle-parent8">
                  <div class="frame-child7"></div>
                  <div class="add-to-bag12">ADD TO BAG</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="hats">
        <div class="title-bar-group">
          <div class="title-bar2"></div>
          <h1 class="hats1">Hats</h1>
        </div>
        <div class="hats-inner">
          <div class="frame-parent6">
            <div class="frame-parent7">
              <div class="frame-parent8">
                <div class="frame-parent9">
                  <div class="rectangle-parent9">
                    <div class="frame-child8"></div>
                    <img
                      class="content-image-icon12"
                      loading="lazy"
                      
                      src="/sendimage/content-image-12@2x.png"
                    />
                  </div>
                  <div class="rectangle-parent10">
                    <div class="frame-child9"></div>
                    <div class="add-to-bag13">ADD TO BAG</div>
                  </div>
                </div>
                <div class="rectangle-parent11">
                  <div class="frame-child10"></div>
                  <img
                    class="content-image-icon13"
                    loading="lazy"
                    
                    src="/sendimage/content-image-13@2x.png"
                  />
                </div>
              </div>
              <div class="frame-parent10">
                <div class="frame-parent11">
                  <div class="frame-parent12">
                    <div class="rectangle-parent12">
                      <div class="frame-child11"></div>
                      <img
                        class="content-image-icon14"
                        loading="lazy"
                        
                        src="/sendimage/content-image-14@2x.png"
                      />
                    </div>
                    <div class="rectangle-parent13">
                      <div class="frame-child12"></div>
                      <div class="add-to-bag14">ADD TO BAG</div>
                    </div>
                  </div>
                  <div class="rectangle-parent14">
                    <div class="frame-child13"></div>
                    <img
                      class="content-image-icon15"
                      loading="lazy"
                      
                      src="/sendimage/content-image-15@2x.png"
                    />
                  </div>
                </div>
                <div class="frame-parent13">
                  <div class="frame-wrapper1">
                    <div class="frame-parent14">
                      <div class="cart-parent">
                        <div class="cart">
                          <div class="cart-child"></div>
                          <img
                            class="content-image-icon16"
                            loading="lazy"
                            
                            src="/sendimage/content-image-16@2x.png"
                          />
                        </div>
                        <div class="contentimageheathersport">
                          <div class="contentimageheathersport-child"></div>
                          <div class="add-to-bag15">ADD TO BAG</div>
                        </div>
                      </div>
                      <div class="rectangle-parent15">
                        <div class="frame-child14"></div>
                        <img
                          class="content-image-icon17"
                          loading="lazy"
                          
                          src="/sendimage/content-image-17@2x.png"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="rectangle-parent16">
                    <div class="frame-child15"></div>
                    <h2 class="oz-50-usa-container2">
                      <ul class="oz-50-usa-cotton-50-polyes2">
                        <li class="oz-50-usa2">
                          8 oz, 50% USA cotton, 50% polyester.
                        </li>
                        <li class="heather-sport-color2">
                          Heather Sport color: 40% cotton, 60% polyester.
                        </li>
                        <li class="made-with-502">
                          Made with 50% sustainably and fairly grown USA cotton.
                        </li>
                        <li class="double-needle-stitching-throug2">
                          Double-needle stitching throughout
                        </li>
                        <li class="double-lined-hood2">Double-lined hood</li>
                        <li class="pouch-pocket2">Pouch pocket</li>
                        <li class="matching-draw-cord2">Matching draw cord</li>
                        <li class="x1-ribbed-cuffs2">
                          1x1 ribbed cuffs and waistband with spandex.
                        </li>
                        <li class="safety-orange-is2">
                          Safety Orange is compliant with ANSI-ISEA 107 High
                        </li>
                      </ul>
                      <p class="visibility-standards2">Visibility Standards</p>
                    </h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="frame-wrapper2">
              <div class="frame-parent15">
                <div class="rectangle-parent17">
                  <div class="frame-child16"></div>
                  <div class="add-to-bag16">ADD TO BAG</div>
                </div>
                <div class="rectangle-parent18">
                  <div class="frame-child17"></div>
                  <div class="add-to-bag17">ADD TO BAG</div>
                </div>
                <div class="rectangle-parent19">
                  <div class="frame-child18"></div>
                  <div class="add-to-bag18">ADD TO BAG</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="container-frame">
        <div class="navb"></div>
        <img
          class="dragonfly-mascot-1"
          loading="lazy"
          
          src="/sendimage/dragonfly-mascot-1@2x.png"
        />

        <div class="cart-frame1">
          <button class="shopping1" id="shopping">
            <img
              class="shopping-cart-icon"
              
              src="/sendimage/shopping-cart@2x.png"
            />
          </button>
          <div class="cart1">
            <div class="invb-parent">
              <div class="invb"></div>
              <div class="invico-frame">
                <div class="invb-frame">
                  <div class="invico">
                    <div class="invc"></div>
                    <div class="invb-label">
                      <img
                        class="invb-icon"
                        loading="lazy"
                        
                        src="/sendimage/invb@2x.png"
                      />
                    </div>
                  </div>
                  <div class="invico-invb-container">
                    <div class="invico1">
                      <div class="invc1"></div>
                      <div class="invb-wrapper">
                        <img
                          class="invb-icon1"
                          loading="lazy"
                          
                          src="/sendimage/invb-1@2x.png"
                        />
                      </div>
                    </div>
                    <div class="invico-child-frames">
                      <div class="invico2">
                        <div class="invc2"></div>
                        <div class="invb-container">
                          <img
                            class="invb-icon2"
                            loading="lazy"
                            
                            src="/sendimage/invb-2@2x.png"
                          />
                        </div>
                      </div>
                      <div class="invico3">
                        <div class="invc3"></div>
                        <div class="invbcontainer">
                          <img
                            class="invb-icon3"
                            loading="lazy"
                            
                            src="/sendimage/invb-3@2x.png"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="invico-child-frames1">
                      <div class="invico4">
                        <div class="invc4"></div>
                        <div class="invb-wrapper1">
                          <img
                            class="invb-icon4"
                            loading="lazy"
                            
                            src="/sendimage/invb-4@2x.png"
                          />
                        </div>
                      </div>
                      <div class="invico5">
                        <div class="invc5"></div>
                        <div class="invb-wrapper2">
                          <img
                            class="invb-icon5"
                            loading="lazy"
                            
                            src="/sendimage/invb-5@2x.png"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="transformationtext">
                      <div class="invico6">
                        <div class="invc6"></div>
                        <div class="cartrectangle">
                          <img
                            class="invb-icon6"
                            loading="lazy"
                            
                            src="/sendimage/invb-6@2x.png"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="invico7">
                      <div class="invc7"></div>
                      <div class="invb-wrapper3">
                        <img
                          class="invb-icon7"
                          loading="lazy"
                          
                          src="/sendimage/invb-7@2x.png"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="invico8">
                  <div class="invc8"></div>
                  <div class="invicoframe">
                    <img
                      class="invb-icon8"
                      
                      src="/sendimage/invb-8@2x.png"
                    />
                  </div>
                </div>
              </div>
              <div class="invicoinvbframes">
                <div class="invico9">
                  <div class="invc9"></div>
                  <div class="invbinvbframes">
                    <img
                      class="invb-icon9"
                      loading="lazy"
                      
                      src="/sendimage/invb-9@2x.png"
                    />
                  </div>
                </div>
                <div class="invicocartframes">
                  <div class="invico10">
                    <div class="invc10"></div>
                    <div class="invb-wrapper4">
                      <img
                        class="invb-icon10"
                        
                        src="/sendimage/invb-10@2x.png"
                      />
                    </div>
                  </div>
                </div>
                <div class="invicocartframes1">
                  <div class="invico11">
                    <div class="invc11"></div>
                    <div class="invb-wrapper5">
                      <img
                        class="invb-icon11"
                        
                        src="/sendimage/invb-11@2x.png"
                      />
                    </div>
                  </div>
                </div>
                <div class="invicocartframes2">
                  <div class="invico12">
                    <div class="invc12"></div>
                    <div class="invb-wrapper6">
                      <img
                        class="invb-icon12"
                        loading="lazy"
                        
                        src="/sendimage/invb-12@2x.png"
                      />
                    </div>
                  </div>
                </div>
                <div class="invicocartframes3">
                  <div class="invico13">
                    <div class="invc13"></div>
                    <div class="invb-wrapper7">
                      <img
                        class="invb-icon13"
                        
                        src="/sendimage/invb-13@2x.png"
                      />
                    </div>
                  </div>
                </div>
                <div class="invicocartframes4">
                  <div class="invico14">
                    <div class="invc14"></div>
                    <div class="invb-wrapper8">
                      <img
                        class="invb-icon14"
                        
                        src="/sendimage/invb-14@2x.png"
                      />
                    </div>
                  </div>
                </div>
                <div class="invicocartframes5">
                  <div class="invico15">
                    <div class="invc15"></div>
                    <div class="invb-wrapper9">
                      <img
                        class="invb-icon15"
                        
                        src="/sendimage/invb-15@2x.png"
                      />
                    </div>
                  </div>
                </div>
                <div class="invicocartframes6">
                  <div class="invico16">
                    <div class="invc16"></div>
                    <div class="invb-wrapper10">
                      <img
                        class="invb-icon16"
                        
                        src="/sendimage/invb-16@2x.png"
                      />
                    </div>
                  </div>
                </div>
                <div class="invico17">
                  <div class="invc17"></div>
                  <div class="invb-wrapper11">
                    <img
                      class="invb-icon17"
                      
                      src="/sendimage/invb-17@2x.png"
                    />
                  </div>
                </div>
              </div>
            </div>
            <button class="carttext">
              <div class="checkb"></div>
              <div class="cart2">Cart</div>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- take out link for webpage ejs and enter in payment for stripe -->
    <script>
      var shopping = document.getElementById("shopping");
      if (shopping) {
        shopping.addEventListener("click", function (e) {
          window.location.href = "./webpage.ejs";
        });
      }
      </script>
  </body>
</html>
