<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./styles.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Koh Santepheap:wght@900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
    <style>
      /* Add your existing styles here */
  
      /* Add hover effect for the "ADD TO BAG" buttons */
      .add-to-bag1:hover {
        background-color: #dddddd00;
        cursor: pointer;
      }
  
      /* Style for the "Remove" button in the cart */
      .remove-item {
        color: red;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div class="storepage">
      <div class="title1">
        <div class="sheffanessea1">SHEFFANESSEA</div>
        <div class="transforming-into-the-container2">
          <span class="transforming-into-the-container3">
            <p class="visibility-standards">TRANSFORMING</p>
            <p class="visibility-standards">INTO THE BEST</p>
            <p class="visibility-standards">VERSION OF ONESELF</p>
          </span>
        </div>
      </div>
      <div class="sweaters">
        <div class="title-bar2"></div>
        <div class="sweaters1">Sweaters</div>
        <div class="shopping-icon18">
          <div class="shopping-icon-child15"></div>
          <img
            class="content-image-icon18"
            alt=""
            src="./public/content-image@2x.png"
          />

        <div class="add-to-bag">
          <div class="add-to-bag-child"></div>
          <div class="add-to-bag1" onclick="addToCart('Sweater 1', 100.00)">ADD TO BAG</div>
          </div>
        </div>
        <div class="shopping-icon19">
          <div class="shopping-icon-child15"></div>
          <img
            class="content-image-icon18"
            alt=""
            src="./public/content-image-2@2x.png"
          />

          <div class="add-to-bag">
            <div class="add-to-bag-child"></div>
            <div class="add-to-bag1" onclick="addToCart('Sweater 2', 100.00)">ADD TO BAG</div>
          </div>
        </div>
        <div class="shopping-icon20">
          <div class="shopping-icon-child15"></div>
          <img
            class="content-image-icon18"
            alt=""
            src="./public/content-image-4@2x.png"
          />

          <div class="add-to-bag4">
            <div class="add-to-bag-child"></div>
            <div class="add-to-bag1" onclick="addToCart('Sweater 3', 100.00)">ADD TO BAG</div>
          </div>
        </div>
        <div class="shopping-icon21">
          <div class="shopping-icon-child15"></div>
          <img
            class="content-image-icon18"
            alt=""
            src="./public/content-image-1@2x.png"
          />

          <div class="add-to-bag4">
            <div class="add-to-bag-child"></div>
            <div class="add-to-bag1" onclick="addToCart('Sweater 4', 100.00)">ADD TO BAG</div>
          </div>
        </div>
        <div class="shopping-icon22">
          <div class="shopping-icon-child15"></div>
          <img
            class="content-image-icon18"
            alt=""
            src="./public/content-image-3@2x.png"
          />

          <div class="add-to-bag8">
            <div class="add-to-bag-child"></div>
            <div class="add-to-bag1" onclick="addToCart('Sweater 5', 100.00)">ADD TO BAG</div>
          </div>
        </div>
        <div class="shopping-icon23">
          <div class="shopping-icon-child15"></div>
          <img
            class="content-image-icon18"
            alt=""
            src="./public/content-image-5@2x.png"
          />

          <div class="add-to-bag8">
            <div class="add-to-bag-child"></div>
            <div class="add-to-bag1" onclick="addToCart('Sweater 6', 100.00)">ADD TO BAG</div>
          </div>
        </div>
        <div class="description">
          <div class="description-child"></div>
          <div class="oz-50-usa-container">
            <ul class="oz-50-usa-cotton-50-polyes">
              <li class="oz-50-usa">8 oz, 50% USA cotton, 50% polyester.</li>
              <li class="oz-50-usa">
                Heather Sport color: 40% cotton, 60% polyester.
              </li>
              <li class="oz-50-usa">
                Made with 50% sustainably and fairly grown USA cotton.
              </li>
              <li class="oz-50-usa">Double-needle stitching throughout</li>
              <li class="oz-50-usa">Double-lined hood</li>
              <li class="oz-50-usa">Pouch pocket</li>
              <li class="oz-50-usa">Matching draw cord</li>
              <li class="oz-50-usa">
                1x1 ribbed cuffs and waistband with spandex.
              </li>
              <li class="oz-50-usa">
                Safety Orange is compliant with ANSI-ISEA 107 High
              </li>
            </ul>
            <p class="visibility-standards">Visibility Standards</p>
          </div>
        </div>
      </div>
      <div class="sweat-pants">
        <div class="title-bar2"></div>
        <div class="sweat-pants1">Sweat Pants</div>
        <div class="shopping-icon18">
          <div class="shopping-icon-child15"></div>
          <img
            class="content-image-icon18"
            alt=""
            src="./public/content-image-6@2x.png"
          />

          <div class="add-to-bag">
            <div class="add-to-bag-child"></div>
            <div class="add-to-bag1" onclick="addToCart('Sweatpants 1', 60.00)">ADD TO BAG</div>
          </div>
        </div>
        <div class="shopping-icon19">
          <div class="shopping-icon-child15"></div>
          <img
            class="content-image-icon18"
            alt=""
            src="./public/content-image-8@2x.png"
          />

          <div class="add-to-bag14">
            <div class="add-to-bag-child"></div>
            <div class="add-to-bag1" onclick="addToCart('Sweatpants 2', 60.00)">ADD TO BAG</div>
          </div>
        </div>
        <div class="shopping-icon20">
          <div class="shopping-icon-child15"></div>
          <img
            class="content-image-icon18"
            alt=""
            src="./public/content-image-10@2x.png"
          />

          <div class="add-to-bag16">
            <div class="add-to-bag-child"></div>
            <div class="add-to-bag1" onclick="addToCart('Sweatpants 3', 60.00)">ADD TO BAG</div>
          </div>
        </div>
        <div class="shopping-icon21">
          <div class="shopping-icon-child15"></div>
          <img
            class="content-image-icon18"
            alt=""
            src="./public/content-image-7@2x.png"
          />

          <div class="add-to-bag14">
            <div class="add-to-bag-child"></div>
            <div class="add-to-bag1" onclick="addToCart('Sweatpants 4', 60.00)">ADD TO BAG</div>
          </div>
        </div>
        <div class="shopping-icon22">
          <div class="shopping-icon-child15"></div>
          <img
            class="content-image-icon18"
            alt=""
            src="./public/content-image-9@2x.png"
          />

          <div class="add-to-bag20">
            <div class="add-to-bag-child"></div>
            <div class="add-to-bag1" onclick="addToCart('Sweatpants 5', 60.00)">ADD TO BAG</div>
          </div>
        </div>
        <div class="shopping-icon23">
          <div class="shopping-icon-child15"></div>
          <img
            class="content-image-icon18"
            alt=""
            src="./public/content-image-11@2x.png"
          />

          <div class="add-to-bag20">
            <div class="add-to-bag-child"></div>
            <div class="add-to-bag1" onclick="addToCart('Sweatpants 6', 60.00)">ADD TO BAG</div>
          </div>
        </div>
        <div class="description">
          <div class="description-child"></div>
          <div class="oz-50-usa-container">
            <ul class="oz-50-usa-cotton-50-polyes">
              <li class="oz-50-usa">8 oz, 50% USA cotton, 50% polyester.</li>
              <li class="oz-50-usa">
                Heather Sport color: 40% cotton, 60% polyester.
              </li>
              <li class="oz-50-usa">
                Made with 50% sustainably and fairly grown USA cotton.
              </li>
              <li class="oz-50-usa">Double-needle stitching throughout</li>
              <li class="oz-50-usa">Double-lined hood</li>
              <li class="oz-50-usa">Pouch pocket</li>
              <li class="oz-50-usa">Matching draw cord</li>
              <li class="oz-50-usa">
                1x1 ribbed cuffs and waistband with spandex.
              </li>
              <li class="oz-50-usa">
                Safety Orange is compliant with ANSI-ISEA 107 High
              </li>
            </ul>
            <p class="visibility-standards">Visibility Standards</p>
          </div>
        </div>
      </div>
      <div class="hats">
        <div class="title-bar2"></div>
        <div class="hats1">Hats</div>
        <div class="shopping-icon18">
          <div class="shopping-icon-child15"></div>
          <img
            class="content-image-icon18"
            alt=""
            src="./public/content-image-12@2x.png"
          />

          <div class="add-to-bag24">
            <div class="add-to-bag-child"></div>
            <div class="add-to-bag1" onclick="addToCart('Beanie 1', 25.00)">ADD TO BAG</div>
          </div>
        </div>
        <div class="shopping-icon31">
          <div class="shopping-icon-child15"></div>
          <img
            class="content-image-icon18"
            alt=""
            src="./public/content-image-14@2x.png"
          />

          <div class="add-to-bag26">
            <div class="add-to-bag-child"></div>
            <div class="add-to-bag1" onclick="addToCart('Beanie 2', 25.00)">ADD TO BAG</div>
          </div>
        </div>
        <div class="shopping-icon32">
          <div class="shopping-icon-child15"></div>
          <img
            class="content-image-icon18"
            alt=""
            src="./public/content-image-16@2x.png"
          />

          <div class="add-to-bag26">
            <div class="add-to-bag-child"></div>
            <div class="add-to-bag1" onclick="addToCart('Beanie 3', 25.00)">ADD TO BAG</div>
          </div>
        </div>
        <div class="shopping-icon21">
          <div class="shopping-icon-child15"></div>
          <img
            class="content-image-icon18"
            alt=""
            src="./public/content-image-13@2x.png"
          />

          <div class="add-to-bag24">
            <div class="add-to-bag-child"></div>
            <div class="add-to-bag1" onclick="addToCart('Beanie 4', 25.00)">ADD TO BAG</div>
          </div>
        </div>
        <div class="shopping-icon22">
          <div class="shopping-icon-child15"></div>
          <img
            class="content-image-icon18"
            alt=""
            src="./public/content-image-15@2x.png"
          />

          <div class="add-to-bag24">
            <div class="add-to-bag-child"></div>
            <div class="add-to-bag1" onclick="addToCart('Beanie 5', 25.00)">ADD TO BAG</div>
          </div>
        </div>
        <div class="shopping-icon23">
          <div class="shopping-icon-child15"></div>
          <img
            class="content-image-icon18"
            alt=""
            src="./public/content-image-17@2x.png"
          />

          <div class="add-to-bag24">
            <div class="add-to-bag-child"></div>
            <div class="add-to-bag1" onclick="addToCart('Beanie 6', 25.00)">ADD TO BAG</div>
          </div>
        </div>
        <div class="description">
          <div class="description-child"></div>
          <div class="oz-50-usa-container">
            <ul class="oz-50-usa-cotton-50-polyes">
              <li class="oz-50-usa">8 oz, 50% USA cotton, 50% polyester.</li>
              <li class="oz-50-usa">
                Heather Sport color: 40% cotton, 60% polyester.
              </li>
              <li class="oz-50-usa">
                Made with 50% sustainably and fairly grown USA cotton.
              </li>
              <li class="oz-50-usa">Double-needle stitching throughout</li>
              <li class="oz-50-usa">Double-lined hood</li>
              <li class="oz-50-usa">Pouch pocket</li>
              <li class="oz-50-usa">Matching draw cord</li>
              <li class="oz-50-usa">
                1x1 ribbed cuffs and waistband with spandex.
              </li>
              <li class="oz-50-usa">
                Safety Orange is compliant with ANSI-ISEA 107 High
              </li>
            </ul>
            <p class="visibility-standards">Visibility Standards</p>
          </div>
        </div>
      </div>
      <div class="navbar1">
        <div class="navb1"></div>
        <img
          class="dragonfly-mascot-11"
          alt=""
          src="./public/dragonfly-mascot-1@2x.png"
        />

        <div class="cart1">
          
          <div id="cart">
            <h2>Shopping Cart</h2>
            <ul id="cartItems">
              <!-- Cart items will be displayed here -->
            </ul>
      
            <!-- Total price -->
            <p>Total Price: $<span id="totalPrice">0.00</span></p>
      
            <!-- Checkout button -->
            <button id="checkoutButton" onclick="checkout()">CHECKOUT</button>
          </div>
          </div>
      </div>
    </div>

    <script>
      
    // JavaScript function to add item to the cart
    function addToCart(productName, productPrice) {
      // Create a new list item for the cart
      var cartItem = document.createElement("li");
      cartItem.textContent = productName + " - $" + productPrice.toFixed(2);

      // Create a "Remove" button for the cart item
      var removeButton = document.createElement("span");
      removeButton.textContent = " Remove";
      removeButton.className = "remove-item";
      removeButton.onclick = function () {
        removeFromCart(cartItem, productPrice);
      };

      // Append the "Remove" button to the cart item
      cartItem.appendChild(removeButton);

      // Append the item to the cart
      document.getElementById("cartItems").appendChild(cartItem);

      // Update the total price
      updateTotalPrice(productPrice);
    }

    // JavaScript function to remove item from the cart
    function removeFromCart(cartItem, productPrice) {
      // Remove the cart item from the cart
      cartItem.parentNode.removeChild(cartItem);

      // Update the total price by subtracting the removed item's price
      updateTotalPrice(-productPrice);
    }

    // JavaScript function to update the total price
    function updateTotalPrice(amount) {
      var totalPriceElement = document.getElementById("totalPrice");
      var currentTotal = parseFloat(totalPriceElement.textContent);
      var newTotal = currentTotal + amount;
      totalPriceElement.textContent = newTotal.toFixed(2);
    }

    // JavaScript function to simulate a checkout (redirect to payment page)
    function checkout() {
      // You can replace this URL with the actual URL of your payment page
      window.location.href = "https://www.youtube.com/watch?v=dQw4w9WgXcQ";
    }
    
    </script>
  </body>
</html>