.sheffanessea1 {
    position: absolute;
    top: 46px;
    left: 1200px;
    letter-spacing: 0.16em;
    font-weight: 900;
    display: flex;
    align-items: center;
    width: 648px;
    height: 61px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .transforming-into-the-container3 {
    width: 100%;
  }
  .transforming-into-the-container2 {
    position: absolute;
    top: 107px;
    left: 1160px;
    font-size: var(--font-size-mini);
    letter-spacing: 0.16em;
    font-weight: 900;
    color: var(--color-gray-100);
    text-align: right;
    display: flex;
    align-items: center;
    width: 648px;
    height: 56px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .title-bar2,
  .title1 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .title1 {
    background-color: var(--color-gray-200);
    width: 1920px;
    height: 238px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-41xl);
  }
  .title-bar2 {
    border-radius: var(--br-38xl);
    background-color: var(--color-rosybrown);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 981px;
    height: 142px;
  }
  .sweaters1 {
    position: absolute;
    top: 40px;
    left: 600px;
    font-size: var(--font-size-41xl);
    letter-spacing: 0.16em;
    font-weight: 900;
    text-align: left;
    display: flex;
    align-items: center;
    width: 360px;
    height: 61px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .shopping-icon-child15 {
    position: absolute;
    top: 5px;
    left: 0;
    border-radius: var(--br-23xl);
    background-color: var(--color-silver);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 237px;
    height: 222px;
  }
  .content-image-icon18 {
    position: absolute;
    top: 11px;
    left: 12px;
    width: 211.8px;
    height: 198px;
    object-fit: cover;
  }
  .add-to-bag-child {
    top: 1px;
    left: 0;
    border-radius: var(--br-11xl);
    background-color: var(--color-silver);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    height: 60px;
  }
  .add-to-bag,
  .add-to-bag-child,
  .add-to-bag1 {
    position: absolute;
    width: 194px;
  }
  .add-to-bag1 {
    top: 1px;
    left: 0;
    letter-spacing: 0.29em;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .add-to-bag {
    top: 235px;
    left: 21px;
    height: 65px;
    overflow: hidden;
  }
  .shopping-icon18 {
    top: 163px;
    left: 363px;
    background-color: var(--color-gray-200);
    width: 237px;
    height: 307px;
  }
  .add-to-bag4,
  .shopping-icon18,
  .shopping-icon19 {
    position: absolute;
    overflow: hidden;
  }
  .shopping-icon19 {
    top: 163px;
    left: 633px;
    background-color: var(--color-gray-200);
    width: 237px;
    height: 307px;
  }
  .add-to-bag4 {
    top: 232px;
    left: 21px;
    width: 194px;
    height: 65px;
  }
  .shopping-icon20 {
    top: 163px;
    left: 903px;
    background-color: var(--color-gray-200);
    width: 237px;
    height: 307px;
  }
  .add-to-bag8,
  .shopping-icon20,
  .shopping-icon21 {
    position: absolute;
    overflow: hidden;
  }
  .shopping-icon21 {
    top: 491px;
    left: 363px;
    background-color: var(--color-gray-200);
    width: 237px;
    height: 307px;
  }
  .add-to-bag8 {
    top: 231px;
    left: 21px;
    width: 194px;
    height: 65px;
  }
  .shopping-icon22,
  .shopping-icon23 {
    position: absolute;
    top: 491px;
    left: 633px;
    background-color: var(--color-gray-200);
    width: 237px;
    height: 307px;
    overflow: hidden;
  }
  .shopping-icon23 {
    left: 903px;
  }
  .description-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-13xl);
    background-color: var(--color-rosybrown);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 720px;
    height: 312px;
  }
  .oz-50-usa {
    margin-bottom: 0;
  }
  .oz-50-usa-cotton-50-polyes {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: var(--padding-14xl);
  }
  .visibility-standards {
    margin: 0;
  }
  .oz-50-usa-container {
    position: absolute;
    top: 10px;
    left: 0;
  }
  .description,
  .sweaters {
    position: absolute;
    overflow: hidden;
  }
  .description {
    top: 168px;
    left: 1173px;
    width: 720px;
    height: 323px;
    text-align: left;
    font-size: var(--font-size-6xl);
    font-family: var(--font-inter);
  }
  .sweaters {
    top: 432px;
    left: 0;
    background-color: var(--color-skyblue);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 1920px;
    height: 840px;
  }
  .sweat-pants1 {
    position: absolute;
    top: 40px;
    left: 484px;
    font-size: var(--font-size-41xl);
    letter-spacing: 0.16em;
    font-weight: 900;
    text-align: left;
    display: flex;
    align-items: center;
    width: 476px;
    height: 61px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .add-to-bag14,
  .add-to-bag16,
  .add-to-bag20,
  .sweat-pants {
    position: absolute;
    top: 236px;
    left: 21px;
    width: 194px;
    height: 65px;
    overflow: hidden;
  }
  .add-to-bag16,
  .add-to-bag20,
  .sweat-pants {
    top: 235px;
    left: 30px;
  }
  .add-to-bag20,
  .sweat-pants {
    top: 237px;
    left: 21px;
  }
  .sweat-pants {
    top: 1323px;
    left: 0;
    background-color: var(--color-skyblue);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 1920px;
    height: 840px;
  }
  .hats1 {
    position: absolute;
    top: 36px;
    left: 787px;
    font-size: var(--font-size-41xl);
    letter-spacing: 0.16em;
    font-weight: 900;
    text-align: left;
    display: flex;
    align-items: center;
    width: 193px;
    height: 70px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .add-to-bag24,
  .add-to-bag26 {
    position: absolute;
    top: 242px;
    left: 21px;
    width: 194px;
    height: 65px;
    overflow: hidden;
  }
  .add-to-bag26 {
    top: 239px;
  }
  .shopping-icon31,
  .shopping-icon32 {
    position: absolute;
    top: 168px;
    left: 633px;
    background-color: var(--color-gray-200);
    width: 237px;
    height: 307px;
    overflow: hidden;
  }
  .shopping-icon32 {
    left: 903px;
  }
  .hats,
  .navb1 {
    position: absolute;
    left: 0;
    background-color: var(--color-skyblue);
  }
  .hats {
    top: 2214px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 1920px;
    height: 840px;
    overflow: hidden;
  }
  .navb1 {
    top: 0;
    border-radius: var(--br-11xl);
    box-shadow: 12px 0 24px rgba(0, 0, 0, 0.25);
    width: 297px;
    height: 3464px;
  }
  .dragonfly-mascot-11 {
    position: absolute;
    top: 46px;
    left: 16px;
    width: 264px;
    height: 274px;
    object-fit: cover;
  }
  
  .cart1,
  .invico12,
  .invico13,
  .invico14,
  .invico15,
  .invico16,
  .invico17 {
    position: absolute;
    top: 768px;
    left: 28px;
    width: 111px;
    height: 112px;
    overflow: hidden;
  }
  
  .cart1 {
    top: 439px;
    left: 0;
    width: 297px;
    height: 1232px;
  }
  .cart-button-icon,
  .shopping1 {
    position: absolute;
    height: 95px;
    overflow: hidden;
  }
  .cart-button-icon {
    top: 0;
    left: 98px;
    width: 100px;
    object-fit: cover;
  }
  .shopping1 {
    top: 337px;
    left: 0;
    background-color: var(--color-steelblue);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 297px;
    cursor: pointer;
  }
  .navbar1,
  .storepage {
    height: 3464px;
    overflow: hidden;
  }
  .navbar1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 330px;
    font-size: 20px;
  }
  .storepage {
    width: 100%;
    position: relative;
    background: linear-gradient(180deg, #bd9391, #6cbeed 13.5%);
    text-align: center;
    font-size: var(--font-size-mini);
    color: var(--color-black);
    font-family: var(--font-koh-santepheap);
  }