.sheffanessea1 {
  margin: 0;
  width: 668px;
  height: 61px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.16em;
  font-weight: 900;
  font-family: inherit;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 100%;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.into-the-best1,
.transforming1,
.version-of-oneself1 {
  margin: 0;
}
.transforming-into-the-container3 {
  width: 100%;
}
.transforming-into-the-container2 {
  height: 56px;
  width: 668px;
  position: relative;
  letter-spacing: 0.16em;
  font-weight: 900;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 100%;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
}
.transforming-into-the-best-ver-wrapper {
  width: 711px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 272px var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: right;
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.title-bar3 {
  height: 142px;
  width: 981px;
  position: relative;
  border-radius: var(--br-38xl);
  background-color: var(--color-rosybrown);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: none;
  max-width: 100%;
}
.sweat-pants2,
.title-bar-container {
  display: flex;
  align-items: center;
  max-width: 100%;
}
.sweat-pants2 {
  margin: 0;
  height: 61px;
  width: 476px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.16em;
  font-weight: 900;
  font-family: inherit;
  flex-shrink: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.title-bar-container {
  width: 981px;
  border-radius: var(--br-38xl);
  background-color: var(--color-rosybrown);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  flex-direction: row;
  justify-content: flex-end;
  padding: var(--padding-21xl) var(--padding-2xl) var(--padding-22xl);
  box-sizing: border-box;
  min-width: 981px;
}
.paymentshipping,
.title-bar4 {
  position: relative;
  max-width: 100%;
}
.title-bar4 {
  height: 142px;
  width: 657px;
  border-radius: var(--br-38xl);
  background-color: var(--color-rosybrown);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.paymentshipping {
  margin: 0;
  height: 120px;
  width: 591px;
  font-size: inherit;
  letter-spacing: 0.16em;
  font-weight: 900;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.sweat-pants-frame,
.title-bar-parent1 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.title-bar-parent1 {
  border-radius: var(--br-38xl);
  background-color: var(--color-rosybrown);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) 30px 13px var(--padding-15xl);
  min-width: 657px;
  text-align: center;
}
.sweat-pants-frame {
  width: 1894px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  gap: 20px;
  text-align: left;
  font-size: var(--font-size-41xl);
  color: var(--color-black);
  font-family: var(--font-koh-santepheap);
}
.a-d-d-r-e-m-o-v-e-child {
  height: 222px;
  width: 237px;
  position: relative;
  border-radius: var(--br-23xl);
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.content-image-icon18 {
  height: 198px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.a-d-d-r-e-m-o-v-e,
.frame-child19 {
  align-self: stretch;
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
}
.a-d-d-r-e-m-o-v-e {
  border-radius: var(--br-23xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-xs) var(--padding-lg)
    var(--padding-2xs);
}
.frame-child19 {
  width: 194px;
  position: relative;
  border-radius: var(--br-11xl);
  box-sizing: border-box;
  display: none;
}
.addremove,
.rectangle-parent20 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.addremove {
  height: 60px;
  flex: 1;
  position: relative;
  letter-spacing: 0.29em;
  font-weight: 900;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.rectangle-parent20 {
  width: 194px;
  border-radius: var(--br-11xl);
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: row;
}
.frame-content {
  width: 237px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 9px 0;
}
.frame-child20 {
  height: 222px;
  width: 237px;
  position: relative;
  border-radius: var(--br-23xl);
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.content-image-icon19 {
  height: 198px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.frame-child21,
.rectangle-parent21 {
  align-self: stretch;
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
}
.rectangle-parent21 {
  border-radius: var(--br-23xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-xs) var(--padding-lg)
    var(--padding-2xs);
}
.frame-child21 {
  width: 194px;
  position: relative;
  border-radius: var(--br-11xl);
  box-sizing: border-box;
  display: none;
}
.addremove1,
.rectangle-parent22 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.addremove1 {
  height: 60px;
  flex: 1;
  position: relative;
  letter-spacing: 0.29em;
  font-weight: 900;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.rectangle-parent22 {
  width: 194px;
  border-radius: var(--br-11xl);
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: row;
}
.frame-content1 {
  width: 237px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 9px 0;
}
.frame-child22 {
  height: 222px;
  width: 237px;
  position: relative;
  border-radius: var(--br-23xl);
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.content-image-icon20 {
  height: 198px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.frame-child23,
.rectangle-parent23 {
  align-self: stretch;
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
}
.rectangle-parent23 {
  border-radius: var(--br-23xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-xs) var(--padding-lg)
    var(--padding-2xs);
}
.frame-child23 {
  width: 194px;
  position: relative;
  border-radius: var(--br-11xl);
  box-sizing: border-box;
  display: none;
}
.addremove2,
.rectangle-parent24 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.addremove2 {
  height: 60px;
  flex: 1;
  position: relative;
  letter-spacing: 0.29em;
  font-weight: 900;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.rectangle-parent24 {
  width: 194px;
  border-radius: var(--br-11xl);
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: row;
}
.frame-content2 {
  width: 237px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 9px 0;
}
.frame-child24 {
  height: 222px;
  width: 237px;
  position: relative;
  border-radius: var(--br-23xl);
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.content-image-icon21 {
  height: 198px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.frame-child25,
.rectangle-parent25 {
  align-self: stretch;
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
}
.rectangle-parent25 {
  border-radius: var(--br-23xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-xs) var(--padding-lg)
    var(--padding-2xs);
}
.frame-child25 {
  width: 194px;
  position: relative;
  border-radius: var(--br-11xl);
  box-sizing: border-box;
  display: none;
}
.addremove3,
.rectangle-parent26 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.addremove3 {
  height: 60px;
  flex: 1;
  position: relative;
  letter-spacing: 0.29em;
  font-weight: 900;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.rectangle-parent26 {
  width: 194px;
  border-radius: var(--br-11xl);
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: row;
}
.frame-content3 {
  width: 237px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 9px 0;
}
.frame-child26 {
  height: 222px;
  width: 237px;
  position: relative;
  border-radius: var(--br-23xl);
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.content-image-icon22 {
  height: 198px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.frame-child27,
.rectangle-parent27 {
  align-self: stretch;
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
}
.rectangle-parent27 {
  border-radius: var(--br-23xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-xs) var(--padding-lg)
    var(--padding-2xs);
}
.frame-child27 {
  width: 194px;
  position: relative;
  border-radius: var(--br-11xl);
  box-sizing: border-box;
  display: none;
}
.addremove4,
.rectangle-parent28 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.addremove4 {
  height: 60px;
  flex: 1;
  position: relative;
  letter-spacing: 0.29em;
  font-weight: 900;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.rectangle-parent28 {
  width: 194px;
  border-radius: var(--br-11xl);
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: row;
}
.frame-content4 {
  width: 237px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 9px 0;
}
.frame-child28 {
  height: 222px;
  width: 237px;
  position: relative;
  border-radius: var(--br-23xl);
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.content-image-icon23 {
  height: 198px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.frame-child29,
.rectangle-parent29 {
  align-self: stretch;
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
}
.rectangle-parent29 {
  border-radius: var(--br-23xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-xs) var(--padding-lg)
    var(--padding-2xs);
}
.frame-child29 {
  width: 194px;
  position: relative;
  border-radius: var(--br-11xl);
  box-sizing: border-box;
  display: none;
}
.addremove5,
.rectangle-parent30 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.addremove5 {
  height: 60px;
  flex: 1;
  position: relative;
  letter-spacing: 0.29em;
  font-weight: 900;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.rectangle-parent30 {
  width: 194px;
  border-radius: var(--br-11xl);
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: row;
}
.frame-content5 {
  width: 237px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 9px 0;
}
.frame-child30 {
  height: 222px;
  width: 237px;
  position: relative;
  border-radius: var(--br-23xl);
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.content-image-icon24 {
  height: 198px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.frame-child31,
.rectangle-parent31 {
  align-self: stretch;
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
}
.rectangle-parent31 {
  border-radius: var(--br-23xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-xs) var(--padding-lg)
    var(--padding-2xs);
}
.frame-child31 {
  width: 194px;
  position: relative;
  border-radius: var(--br-11xl);
  box-sizing: border-box;
  display: none;
}
.addremove6,
.rectangle-parent32 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.addremove6 {
  height: 60px;
  flex: 1;
  position: relative;
  letter-spacing: 0.29em;
  font-weight: 900;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.rectangle-parent32 {
  width: 194px;
  border-radius: var(--br-11xl);
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: row;
}
.frame-content6 {
  width: 237px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 9px 0;
}
.frame-child32 {
  height: 222px;
  width: 237px;
  position: relative;
  border-radius: var(--br-23xl);
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.content-image-icon25 {
  height: 198px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.frame-child33,
.rectangle-parent33 {
  align-self: stretch;
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
}
.rectangle-parent33 {
  border-radius: var(--br-23xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-xs) var(--padding-lg)
    var(--padding-2xs);
}
.frame-child33 {
  width: 194px;
  position: relative;
  border-radius: var(--br-11xl);
  box-sizing: border-box;
  display: none;
}
.addremove7,
.rectangle-parent34 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.addremove7 {
  height: 60px;
  flex: 1;
  position: relative;
  letter-spacing: 0.29em;
  font-weight: 900;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.rectangle-parent34 {
  width: 194px;
  border-radius: var(--br-11xl);
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: row;
}
.frame-content7 {
  width: 237px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 9px 0;
}
.frame-child34 {
  height: 222px;
  width: 237px;
  position: relative;
  border-radius: var(--br-23xl);
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.content-image-icon26 {
  height: 198px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.frame-child35,
.rectangle-parent35 {
  align-self: stretch;
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
}
.rectangle-parent35 {
  border-radius: var(--br-23xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-xs) var(--padding-lg)
    var(--padding-2xs);
}
.frame-child35 {
  width: 194px;
  position: relative;
  border-radius: var(--br-11xl);
  box-sizing: border-box;
  display: none;
}
.addremove8,
.rectangle-parent36 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.addremove8 {
  height: 60px;
  flex: 1;
  position: relative;
  letter-spacing: 0.29em;
  font-weight: 900;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.rectangle-parent36 {
  width: 194px;
  border-radius: var(--br-11xl);
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: row;
}
.frame-content8 {
  width: 237px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 9px 0;
}
.frame-child36 {
  height: 222px;
  width: 237px;
  position: relative;
  border-radius: var(--br-23xl);
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.content-image-icon27 {
  height: 198px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.frame-child37,
.rectangle-parent37 {
  align-self: stretch;
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
}
.rectangle-parent37 {
  border-radius: var(--br-23xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-xs) var(--padding-lg)
    var(--padding-2xs);
}
.frame-child37 {
  width: 194px;
  position: relative;
  border-radius: var(--br-11xl);
  box-sizing: border-box;
  display: none;
}
.addremove9,
.rectangle-parent38 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.addremove9 {
  height: 60px;
  flex: 1;
  position: relative;
  letter-spacing: 0.29em;
  font-weight: 900;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.rectangle-parent38 {
  width: 194px;
  border-radius: var(--br-11xl);
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: row;
}
.frame-content9 {
  width: 237px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 9px 0;
}
.frame-child38 {
  height: 222px;
  width: 237px;
  position: relative;
  border-radius: var(--br-23xl);
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.content-image-icon28 {
  height: 198px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.frame-child39,
.rectangle-parent39 {
  align-self: stretch;
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
}
.rectangle-parent39 {
  border-radius: var(--br-23xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-xs) var(--padding-lg)
    var(--padding-2xs);
}
.frame-child39 {
  width: 194px;
  position: relative;
  border-radius: var(--br-11xl);
  box-sizing: border-box;
  display: none;
}
.addremove10,
.rectangle-parent40 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.addremove10 {
  height: 60px;
  flex: 1;
  position: relative;
  letter-spacing: 0.29em;
  font-weight: 900;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.rectangle-parent40 {
  width: 194px;
  border-radius: var(--br-11xl);
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: row;
}
.frame-content10 {
  width: 237px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 9px 0;
}
.frame-child40 {
  height: 222px;
  width: 237px;
  position: relative;
  border-radius: var(--br-23xl);
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.content-image-icon29 {
  height: 198px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.frame-child41,
.rectangle-parent41 {
  align-self: stretch;
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
}
.rectangle-parent41 {
  border-radius: var(--br-23xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-xs) var(--padding-lg)
    var(--padding-2xs);
}
.frame-child41 {
  width: 194px;
  position: relative;
  border-radius: var(--br-11xl);
  box-sizing: border-box;
  display: none;
}
.addremove11,
.rectangle-parent42 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.addremove11 {
  height: 60px;
  flex: 1;
  position: relative;
  letter-spacing: 0.29em;
  font-weight: 900;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.rectangle-parent42 {
  width: 194px;
  border-radius: var(--br-11xl);
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: row;
}
.frame-content11 {
  width: 237px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 9px 0;
}
.frame-child42 {
  height: 222px;
  width: 237px;
  position: relative;
  border-radius: var(--br-23xl);
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.content-image-icon30 {
  height: 198px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.frame-child43,
.rectangle-parent43 {
  align-self: stretch;
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
}
.rectangle-parent43 {
  border-radius: var(--br-23xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-xs) var(--padding-lg)
    var(--padding-2xs);
}
.frame-child43 {
  width: 194px;
  position: relative;
  border-radius: var(--br-11xl);
  box-sizing: border-box;
  display: none;
}
.addremove12,
.rectangle-parent44 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.addremove12 {
  height: 60px;
  flex: 1;
  position: relative;
  letter-spacing: 0.29em;
  font-weight: 900;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.rectangle-parent44 {
  width: 194px;
  border-radius: var(--br-11xl);
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: row;
}
.frame-content12 {
  width: 237px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 9px 0;
}
.frame-child44 {
  height: 222px;
  width: 237px;
  position: relative;
  border-radius: var(--br-23xl);
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.content-image-icon31 {
  height: 198px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.frame-child45,
.rectangle-parent45 {
  align-self: stretch;
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
}
.rectangle-parent45 {
  border-radius: var(--br-23xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-xs) var(--padding-lg)
    var(--padding-2xs);
}
.frame-child45 {
  width: 194px;
  position: relative;
  border-radius: var(--br-11xl);
  box-sizing: border-box;
  display: none;
}
.addremove13,
.rectangle-parent46 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.addremove13 {
  height: 60px;
  flex: 1;
  position: relative;
  letter-spacing: 0.29em;
  font-weight: 900;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.rectangle-parent46 {
  width: 194px;
  border-radius: var(--br-11xl);
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: row;
}
.frame-content13 {
  width: 237px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 9px 0;
}
.frame-child46 {
  height: 222px;
  width: 237px;
  position: relative;
  border-radius: var(--br-23xl);
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.content-image-icon32 {
  height: 198px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.frame-child47,
.rectangle-parent47 {
  align-self: stretch;
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
}
.rectangle-parent47 {
  border-radius: var(--br-23xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-xs) var(--padding-lg)
    var(--padding-2xs);
}
.frame-child47 {
  width: 194px;
  position: relative;
  border-radius: var(--br-11xl);
  box-sizing: border-box;
  display: none;
}
.addremove14,
.rectangle-parent48 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.addremove14 {
  height: 60px;
  flex: 1;
  position: relative;
  letter-spacing: 0.29em;
  font-weight: 900;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.rectangle-parent48 {
  width: 194px;
  border-radius: var(--br-11xl);
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: row;
}
.frame-content14 {
  width: 237px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 9px 0;
}
.frame-child48 {
  height: 222px;
  width: 237px;
  position: relative;
  border-radius: var(--br-23xl);
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.content-image-icon33 {
  height: 198px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.frame-child49,
.rectangle-parent49 {
  align-self: stretch;
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
}
.rectangle-parent49 {
  border-radius: var(--br-23xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-xs) var(--padding-lg)
    var(--padding-2xs);
}
.frame-child49 {
  width: 194px;
  position: relative;
  border-radius: var(--br-11xl);
  box-sizing: border-box;
  display: none;
}
.addremove15,
.rectangle-parent50 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.addremove15 {
  height: 60px;
  flex: 1;
  position: relative;
  letter-spacing: 0.29em;
  font-weight: 900;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.rectangle-parent50 {
  width: 194px;
  border-radius: var(--br-11xl);
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: row;
}
.frame-content15 {
  width: 237px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 9px 0;
}
.frame-child50 {
  height: 222px;
  width: 237px;
  position: relative;
  border-radius: var(--br-23xl);
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.content-image-icon34 {
  height: 198px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.frame-child51,
.rectangle-parent51 {
  align-self: stretch;
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
}
.rectangle-parent51 {
  border-radius: var(--br-23xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-xs) var(--padding-lg)
    var(--padding-2xs);
}
.frame-child51 {
  width: 194px;
  position: relative;
  border-radius: var(--br-11xl);
  box-sizing: border-box;
  display: none;
}
.addremove16,
.rectangle-parent52 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.addremove16 {
  height: 60px;
  flex: 1;
  position: relative;
  letter-spacing: 0.29em;
  font-weight: 900;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.rectangle-parent52 {
  width: 194px;
  border-radius: var(--br-11xl);
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: row;
}
.frame-content16 {
  width: 237px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 9px 0;
}
.frame-child52 {
  height: 222px;
  width: 237px;
  position: relative;
  border-radius: var(--br-23xl);
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.content-image-icon35 {
  height: 198px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.frame-child53,
.rectangle-parent53 {
  align-self: stretch;
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
}
.rectangle-parent53 {
  border-radius: var(--br-23xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-xs) var(--padding-lg)
    var(--padding-2xs);
}
.frame-child53 {
  width: 194px;
  position: relative;
  border-radius: var(--br-11xl);
  box-sizing: border-box;
  display: none;
}
.addremove17,
.rectangle-parent54 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.addremove17 {
  height: 60px;
  flex: 1;
  position: relative;
  letter-spacing: 0.29em;
  font-weight: 900;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.rectangle-parent54 {
  width: 194px;
  border-radius: var(--br-11xl);
  background-color: var(--color-silver);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: row;
}
.frame-content17 {
  width: 237px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 9px 0;
}
.frame-content-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 32px 31px;
  min-width: 505px;
  min-height: 1922px;
  max-width: 100%;
}
.navbar-child {
  height: 1929px;
  width: 657px;
  position: relative;
  border-radius: 52px;
  background-color: var(--color-rosybrown);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  min-width: 657px;
  max-width: 100%;
}
.add-remove-frame,
.navbar {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.navbar {
  width: 1511px;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0 77px;
}
.add-remove-frame {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-27xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-koh-santepheap);
}
.checkout,
.navb1 {
  align-self: stretch;
  background-color: var(--color-skyblue);
}
.checkout {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 510px;
  box-sizing: border-box;
  gap: 36px 0;
  max-width: 100%;
}
.navb1 {
  height: 3464px;
  position: relative;
  border-radius: var(--br-11xl);
  box-shadow: 12px 0 24px rgba(0, 0, 0, 0.25);
  display: none;
}
.dragonfly-mascot-11 {
  width: 264px;
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.home-icon {
  position: absolute;
  top: -2px;
  left: 98px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
}
.shopping2 {
  align-self: stretch;
  height: 95px;
  position: relative;
  background-color: var(--color-steelblue);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.dragonfly-mascot,
.navbar1,
.webpage1 {
  display: flex;
  justify-content: flex-start;
}
.dragonfly-mascot {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-11xl);
  background-color: var(--color-skyblue);
  box-shadow: 12px 0 24px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-27xl) 0 3032px;
  gap: 17px 0;
}
.navbar1,
.webpage1 {
  overflow: hidden;
  box-sizing: border-box;
}
.navbar1 {
  width: 330px;
  height: 100%;
  margin: 0 !important;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-14xl) 0 0;
  z-index: 2;
}
.webpage1 {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #bd9391, #6cbeed 13.5%);
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-27xl) 0 412px;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-41xl);
  color: var(--color-black);
  font-family: var(--font-koh-santepheap);
}
@media screen and (max-width: 1650px) {
  .title-bar-container,
  .title-bar-parent1 {
    flex: 1;
  }
  .sweat-pants-frame {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1300px) {
  .title-bar-container {
    min-width: 100%;
  }
  .frame-content-parent {
    min-height: auto;
  }
  .navbar-child {
    flex: 1;
  }
  .navbar {
    flex-wrap: wrap;
  }
  .add-remove-frame {
    padding-left: var(--padding-4xl);
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }
  .checkout {
    padding-bottom: 215px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .paymentshipping,
  .sheffanessea1,
  .sweat-pants2 {
    font-size: var(--font-size-29xl);
  }
  .title-bar-parent1 {
    min-width: 100%;
  }
  .frame-content-parent {
    gap: 32px 31px;
    min-width: 100%;
  }
  .navbar-child {
    min-width: 100%;
  }
  .navbar {
    gap: 0 77px;
  }
  .checkout {
    gap: 36px 0;
    padding-bottom: 140px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .paymentshipping,
  .sheffanessea1,
  .sweat-pants2 {
    font-size: var(--font-size-17xl);
  }
  .navbar {
    gap: 0 77px;
  }
}
